<p-toast></p-toast>

<div class="card w-full md:w-6 mx-auto mt-5">
  <form [formGroup]="form" (ngSubmit)="guardar()" class="flex flex-column gap-3">
    <p-dropdown
      formControlName="tipo"
      [options]="[{ label: 'Compra', value: 'Compra' }, { label: 'Venta', value: 'Venta' }]"
      placeholder="Selecciona tipo"
    ></p-dropdown>

    <p-dropdown
      formControlName="productoId"
      [options]="productos"
      optionLabel="nombre"
      optionValue="id" 
      placeholder="Selecciona producto"
    ></p-dropdown>

    <p-inputNumber
      formControlName="cantidad"
      placeholder="Cantidad"
      inputId="cantidad"
      [min]="1"
    ></p-inputNumber>

    <p-inputNumber
      formControlName="precioUnitario"
      placeholder="Precio Unitario"
      inputId="precio"
      [min]="0.01"
    ></p-inputNumber>

    <input pInputText formControlName="detalle" placeholder="Detalle" />

    <button pButton label="Registrar Transacción" type="submit" class="mt-3 w-full"></button>
  </form>
</div>
